<div style=\"font-family:Arial,Verdana;font-size:12px;text-align:left;\">
<b>SECRETARIA DISTRITAL DE MOVILIDAD<br/>
<br/>
<b>SISTEMA INFORMACION DE PROCESOS ADMINISTRATIVOS<br/>
<br/><br/>
<i>Alerta de consumo de Rango de comparendos</i>.
<hr/><br/><br/>
Estimado Usuario:
<br/><br/>
<b> $parametros.msg </b>
<br/><br/><br/>
Cordialmente,
<br/>
SISTEMA INFORMACION DE PROCESOS ADMINISTRATIVOS - SIPA
</div>